
.bar {
    width: 75%;
}

.header_wrapper {
    /* positioning */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* centering just because */
    margin-left: auto;
    margin-right: auto;
}

.header {
    /* styling */
    z-index: 2;
    height: 75%;
    opacity: 0.9;
    background: linear-gradient(to left, rgb(100, 190, 121), rgb(115, 205, 136));
    filter: brightness(1.5);
}

.header_wrapper h2 {
    /* positioning */
    position: absolute;
    width: 100%;

    /* styling */
    text-align: center;
    font-size: 36px;
    letter-spacing: 1px;
}
