
.footer_wrapper {
    position: relative;
    height: 100px;
    background: rgb(20, 22, 25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_wrapper a {
    padding-left: 25px;
    padding-right: 25px;

    font-size: 22px;
    color: white;
    transition: 1s;
}

.footer_wrapper a:hover {
    opacity: 0.5;
}   