
body {
    /* dimensions */
    margin: 0px;
    height: 2000px;

    /* font styling */
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    color: white;

    /* background styling */
    background-color: rgb(17, 19, 22);
    overflow-x: hidden;
}

.hamburger--spring {
    z-index: 99;
}

/* open hamburger */
.hamburger--spring .hamburger-inner::before, .hamburger--spring .hamburger-inner, .hamburger--spring .hamburger-inner::after {
    background: white;
}

/* close hamburger */
.hamburger--spring.is-active .hamburger-inner::before, .hamburger--spring.is-active .hamburger-inner::after {
    background: white;
}

.bold {
    color: rgb(100, 190, 121);
    filter: brightness(1.5);
}
