
body {
    /* font styling */
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    color: white;

    /* background styling */
    background-color: rgb(17, 19, 22);
    overflow-x: hidden;
}

.gap {
    position: relative;
    height: 100px;
}


.hamburger--stand {
    z-index: 99;
}

/* open hamburger */
.hamburger--stand .hamburger-inner::before, .hamburger--stand .hamburger-inner, .hamburger--stand .hamburger-inner::after {
    background: white;
}

/* close hamburger */
.hamburger--stand.is-active .hamburger-inner::before, .hamburger--stand.is-active .hamburger-inner::after {
    background: white;
}

.bold {
    color: rgb(100, 190, 121);
    filter: brightness(1.5);
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /*background: yellow;*/
} 

.col {
    /* positioning */
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

    /* dimensions */
    margin-left: 25px;
    margin-right: 25px;

    /* styling */
    text-align: center;
}

.gap {
    position: relative;
    height: 50px;
}
