
/* fade in animation */
@keyframes fade_in {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    background-color: orange;
    margin: 0;
}

.custom-shape-divider-bottom-1626740393 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1626740393 svg {
    position: relative;
    display: block;
    width: calc(169% + 1.3px);
    height: 65px;
}

.custom-shape-divider-bottom-1626740393 .shape-fill {
    fill: #FFFFFF;
}