
@keyframes slide_down {
    to {top: 25px;}
}

@-webkit-keyframes slide_down {
    to {top: 25px;}
}

@keyframes slide_in {
    to {right: 25px;}
}

@-webkit-keyframes slide_in {
    to {right: 25px;}
}

@keyframes slide_out {
    from {right: 25px;}
    to {right: -150px;}
}

@-webkit-keyframes slide_out {
    from {right: 25px;}
    to {right: -150px;}
}

.navigation_container {
    /* positioning */
    position: absolute;
    width: 100%;
    height: 100px;
}

.navigation_container button {
    /* positioning */
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 32px;

    /* styling */
    cursor: pointer;
    font: white;

    /* animations */
    transition: 0.3s;

    -moz-animation: slide_down 0.5s forwards;
    -webkit-animation: slide_down 0.5s forwards;
    -o-animation: slide_down 0.5s forwards;
    animation: slide_down 0.5s forwards;

    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.navigation_container i:hover {
    opacity: 0.85;
}

.menu {
    /* positioning */
    position: absolute;
    /*top: -425px;*/
    right: -150px;
    height: 225px;
    width: 135px;
    padding-top: 75px;

    /* styling */
    text-align: right;
    display: none;
    z-index: 98;

    /* animations */
    -moz-animation-name: slide_out;
    -webkit-animation-name: slide_out;
    -o-animation-name: slide_out;
    animation-name: slide_out;

    -moz-animation-duration: 0.75s;
    -webkit-animation-duration: 0.75s;
    -o-animation-duration: 0.75s;
    animation-duration: 0.75s;

    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.menu_visible {
    /* animations */
    -moz-animation-name: slide_in;
    -webkit-animation-name: slide_in;
    -o-animation-name: slide_in;
    animation-name: slide_in;

    -moz-animation-duration: 0.75s;
    -webkit-animation-duration: 0.75s;
    -o-animation-duration: 0.75s;
    animation-duration: 0.75s;

    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.menu a {
    /* positioning */
    padding-top: 25px;
    padding-right: 15px;
    display: block;

    /* styling */
    color: white;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;

    /* animation */
    transition: 0.5s;
}

.menu a:hover {
    opacity: 0.75;
}
