
.spine {
    /* positioning and framing */
    justify-content: flex-start;

    /* styling */
    width: 3px;
    height: 100%;
    position: absolute;
    background-color: rgb(100, 190, 121); 
}

.spine::before {
    content: "";
    width: 3px;
    height: 3px;
    top: -2px;
    position: absolute;
    border-radius: 1.5px;
    background-color: rgb(100, 190, 121); ;

    -moz-animation: slide 0.5s forwards;
    -webkit-animation: slide 0.5s forwards;
    -o-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;

    -moz-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.spine::after {
    content: "";
    width: 3px;
    height: 3px;
    /*top: 267px;*/
    top: 99.5%;
    position: absolute;
    border-radius: 1.5px;
    background-color: rgb(100, 190, 121); ;

    -moz-animation: slide 0.5s forwards;
    -webkit-animation: slide 0.5s forwards;
    -o-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;

    -moz-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.spine_slide_out_animation {
    left: -100%;
    
    -moz-animation: slide 0.5s forwards;
    -webkit-animation: slide 0.5s forwards;
    -o-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;

    -moz-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.spine_pull_down_animation {
    height: 5%;

    -moz-animation-name: pull_down;
    -webkit-animation-name: pull_down;
    -o-animation-name: pull_down;
    animation-name: pull_down;

    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}