
/* https://codepen.io/abehjat/pen/oXMENv */

@keyframes drip {
    to {
        top: 550px;
    }
}

@-webkit-keyframes drip {
    to {
        top: 550px;
    }  
}

@keyframes ripple {
    from {
      opacity: 1;
    }
    to {
      width: 600px;
      height: 300px;
      border-width: 1px;
      top: -100px;
      opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  100% {
    width: 200px;
    height: 100px;
    border-width: 1px;
    top: 100px;
    left: 200px;
  }
}

.water_drops {
    /* positioning */
    position: absolute;
    top: 15px;
    right: 15px;
    height: 100%;
    width: 50%;

    /* styling */
    overflow: hidden;
    /*background-color: yellow;*/
}

.drop {
    /* positioning */
    position: relative;
    top: -20px;
    width: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;

    /* styling */
    background-color: white;
    border-radius: 20px;

    /* animations */
    animation-name: drip;
    animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.drop:before {
    /* positioning */
    position: absolute;
    top: -12px;
    width: 0;
    height: 0;
    content: "";

    /* styling */
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 15px solid white;
}

.wave {
    /* positioning */
    position: relative;
    opacity: 0;
    top: 0;
    width: 2px;
    height: 1px;

    /* styling */
    border: white 7x solid;
    border-radius: 300px / 150px;

    /* animations */
    animation-name: ripple;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.wave:after {
    /* positioning */
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -5px;
    width: 2px;
    height: 1px;

    /* styling */
    border: #FFF 5px solid;
    border-radius: 300px / 150px;

    /* animations */
    animation-name: ripple-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
